#!/bin/bash

kill_superset() {
  echo Killing superset...
  docker kill superset
  docker rm superset
}

start_superset() {
  LOG_DRIVER=local
  if [ ! -z "${enable_fluentd}" ]; then
    LOG_DRIVER=fluentd
  fi
  echo Starting superset...
  docker run -d \
    -e REDIS_SERVER_IP=${redis_host} \
    -e REDIS_PASSWORD=${redis_password} \
    --restart always \
    --name superset \
    --log-driver=${log_driver} \
    -p2181:8088 \
    ${superset_image}
}

kill_superset

start_superset
